* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}

body {
  margin-top: 3rem;
  margin-left: 2rem;
}

table {
  text-align: center;
}

table a {
  color: #04aa6d;
}

.container {
  display: flex;
  justify-content: center;
}

th {
  background-color: #04aa6d;
  color: white;
}

th,
td {
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #eafbe9;
}

button {
  background-color: #04aa6d;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  border: #000000 solid 1px;
  transition: 0.3s;
}

button a {
  font-size: larger;
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #00643f;
}

#delete {
  background-color: #d01424;
}

#delete:hover {
  background-color: #7a000a;
}

h1 {
  color: #04aa6d;
  display: flex;
  justify-content: center;
  font-size: 45px;
}

a {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form button {
  margin: 0 1rem;
  color: white;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: #000000 solid 1px;
}
